<div class="dg-paragraph"><alert>Layout 组件。</alert></div>

        <h2 id="%E4%BD%95%E6%97%B6%E4%BD%BF%E7%94%A8" class="docs-header-link">
          <span header-link="%E4%BD%95%E6%97%B6%E4%BD%BF%E7%94%A8"></span>
          何时使用
        </h2>
      <pre><code><div><span class="token operator">&lt;</span>alib<span class="token operator">-</span>layout<span class="token operator">></span><span class="token operator">&lt;</span><span class="token operator">/</span>alib<span class="token operator">-</span>layout<span class="token operator">></span></div></code></pre>